.equipmentImgBtn {
  height: 90%;
  border-radius: 2rem;
  background-color: #fff;
}

.equipmentBtnDiv {
  height: 17rem;
}

@media only screen and (max-width: 600px) {
  .equipmentBtnDiv {
    height: 12rem;
  }
}
