.stepDiv {
  border: 2px dashed grey;
  margin-top: 2rem;
  padding-bottom: 3%;
}
.stepDiv:hover {
  border: 2px dashed #26d1ed;
}

.workoutName {
  font-size: 1.4rem;
}
.workoutDemo {
  width: 80%;
  border-radius: 1rem;
}

.stepInputsDiv {
  padding: 5% 0 0 0 !important;
}
