.backButton {
  position: fixed;
  padding: 0.4rem 1.3rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  top: 7rem;
  left: 7%;
  background-color: rgb(40, 63, 104);
  font-size: 1.4rem;
  color: white;
  box-shadow: 5px 5px 5px rgb(30, 36, 47);
}
.backButton:hover {
  background-color: #26d1ed;
}

.backButton.nested {
  top: 12rem;
}

@media only screen and (max-width: 600px) {
  .backButton {
    font-size: 1rem;
    top: 3.5rem;
  }
  .backButton.nested {
    top: 9rem;
  }
}
