html,
body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  /* height: 100%; */
}

.instructionsHeader {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.instructionsSubHeader {
  color: #26d1ed;
}

label {
  font-size: 1.2rem;
}

a {
  color: inherit;
}

img {
  border-radius: 2rem;
}

input {
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #282c34 inset;
  box-shadow: 0 0 0 30px #282c34 inset;
  color: white;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}

@media only screen and (max-width: 600px) {
  .instructionsHeader {
    font-size: 1.5rem;
  }
  .instructionsSubHeader {
    font-size: 1.5rem;
  }
  label {
    font-size: 0.8rem;
  }
}
