html,
body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  /* height: 100%; */
}

.instructionsHeader {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.instructionsSubHeader {
  color: #26d1ed;
}
