.topBar {
  font-size: 1.3rem;
  padding: 0 2.5vw;
  display: flex;
}

.siteDiv {
  width: 16rem;
  text-align: left;
}
.siteIcon {
  height: 2.5rem;
  position: relative;
  top: 0.9rem;
}
.siteTitle {
  margin: 0;
}

.userDiv {
  padding-top: 1rem;
  flex: 1;
  text-align: right;
}

.userDiv ul,
li {
  display: inline;
  padding: 0.7rem;
}

.userAction {
  color: grey;
}

.homeTitle {
  font-size: 3rem;
  color: #26d1ed;
}

.homeActions {
  font-size: 1.4rem;
  color: grey;
}

.homeActions:hover {
  color: white;
}
